<div class="dc-comments-controller" dc-controller="comments">
    <div dc-include="#dc-comment-form-template">
        {% include '_subtemplates/dc-comment-form-desktop.html' %}
    </div>
    <div dc-directive-infinite-scroll items="comments" item-template="#dc-infinite-scroll-comments-template" getter="commentGetter" class="dc-comments-container">
        {% include 'directives/dc-directive-infinite-scroll.html' with {'items': page.comments, 'item_template': '_subtemplates/dc-infinite-scroll-comments.html'} %}
    </div>
</div>