html {
  box-sizing: border-box;
  min-height: 100vh;
  background-color: #ffffff;
}

html, body {
  font-weight: 400;
  -webkit-tap-highlight-color: transparent;
}

body {
  background-color: transparent;
  min-height: 100vh;
  position: relative;
}
body.modal-open .dc-background {
  height: 0;
  -moz-transition: none;
  -o-transition: none;
  -webkit-transition: none;
  transition: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}

.dc-debug {
  position: fixed;
  z-index: 4;
}

.dc-background {
  background: none;
  will-change: opacity;
  overflow: hidden;
  height: auto;
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  -moz-transition: opacity 0.1635s ease-in-out;
  -o-transition: opacity 0.1635s ease-in-out;
  -webkit-transition: opacity 0.1635s ease-in-out;
  transition: opacity 0.1635s ease-in-out;
  -moz-transition-delay: 0.0545s;
  -o-transition-delay: 0.0545s;
  -webkit-transition-delay: 0.0545s;
  transition-delay: 0.0545s;
  position: relative;
}

.dc-container {
  width: auto;
  padding: 0px;
  margin: 0 auto;
}

.dc-flexible-sprite {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background-size: 100%;
  image-rendering: optimizeSpeed;
  /* Legal fallback */
  image-rendering: optimizeQuality;
  /* Firefox        */
  image-rendering: -o-crisp-edges;
  /* Opera          */
  image-rendering: -webkit-optimize-contrast;
  /* Safari         */
  image-rendering: optimize-contrast;
  /* CSS3 Proposed  */
  image-rendering: crisp-edges;
  /* CSS4 Proposed  */
  -ms-interpolation-mode: nearest-neighbor;
  /* IE8+           */
}
.dc-flexible-sprite span.description-text {
  position: absolute;
  top: 50%;
  left: 0px;
  margin-top: -8px;
  z-index: -1;
  color: #ffffff;
}
.dc-flexible-sprite h1.description-text {
  position: absolute;
  top: 50%;
  left: 0px;
  margin-top: -8px;
  z-index: -1;
  color: #ffffff;
}
.dc-flexible-sprite h2.description-text {
  position: absolute;
  top: 50%;
  left: 0px;
  margin-top: -8px;
  z-index: -1;
  color: #ffffff;
}

.dc-flexible-hr-top {
  position: relative;
  width: 100%;
  padding-bottom: 2.707%;
  margin: 5px 0px;
}
.dc-flexible-hr-top .dc-flexible-sprite {
  background-image: url("http://cdn.drinkingcinema.com/Images/buttons.jpg");
  background-position: -2.11921% -44.70588%;
}

.dc-thumbnail {
  height: 60px;
  width: 60px;
  background-size: 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-color: #ffffff;
}

#shim {
  position: fixed;
  z-index: 2;
  background-color: #ffffff;
  height: 100vh;
  width: 100vw;
  display: none;
  top: 0px;
  left: 0px;
}
