@import "imports/dc-imports";

html {
  //overflow: auto;
  box-sizing: border-box;
  background-color: $dc-white;

}

html,body{
  //font-family: 'Kameron', georgia, serif;
  font-weight: 400;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

$time: 0.218s;
$bzEasing: cubic-bezier(0.215, 0.610, 0.355, 1.000);
body{
  background-color: transparent;
  min-height: 100vh;
  position: relative;
  &.modal-open{
    .dc-background{
      height: 0;
      @include transition(none);
      @include opacity(0);
    }
  }
}

.dc-debug {
  position: fixed;
  z-index: 4;
}

.dc-background {
  background: none;
  will-change: opacity;
  overflow: hidden;
  height: auto;
  @include opacity(1);
  @include transition(opacity 3*$time/4 ease-in-out);
  @include transition-delay($time/4);
  position: relative;
}

.dc-container{
  width: auto;
  padding: 0px;
  margin: 0 auto;
}

.dc-flexible-sprite{
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background-size: 100%;
  @include crisp-edges();
  span.description-text{
    @include hiddenSpan();
  }
  h1.description-text{
    @include hiddenSpan();
  }
  h2.description-text{
    @include hiddenSpan();
  }
}

$hrRatio: 750/16 * ($dc-buttons-sprite-height/$dc-buttons-sprite-width);
$hrx: 2*percentage(-8px/$dc-buttons-sprite-width);
$hry: 2*percentage(-133px/$dc-buttons-sprite-height);
.dc-flexible-hr-top{
  position: relative;
  width: 100%;
  padding-bottom: percentage(1/$hrRatio);
  margin: 5px 0px;
  .dc-flexible-sprite{
    background-image: url($dc-buttons-url);
    background-position: $hrx $hry;
  }
}

.dc-thumbnail {
  height: $dc-thumbnail-width;
  width: $dc-thumbnail-height;
  background-size: 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-color: $dc-white;
}

#shim {
  position: fixed;
  z-index: 2;
  background-color: $dc-white;
  height: 100vh;
  width: 100vw;
  display: none;
  top: 0px;
  left: 0px;
}