<div class="dc-header-controller" dc-controller="header">
    <div class="dc-header-main-nav">
        <a href="/" class="dc-header-main-nav-logo"></a>
        <div class="dc-header-main-nav-search" dc-directive-autocomplete modal-template="#dc-autocomplete-search-modal-template" item-template="#dc-search-item-template" getter="getSearchResults" data-store="game">
            <div class="dc-mag-glass" dc-click="showModal"></div>
        </div>
        <div class="dc-header-twitter"></div>
        <div class="dc-header-facebook"></div>
    </div>
    <div class="dc-header-main-nav-spacer"></div>

    {% if page.headerSize != 'medium' and page.headerSize != 'hidden' %}
    <div dc-if="page.headerSize != 'medium' && page.headerSize != 'hidden'" class="dc-header-sub-nav" dc-include="#dc-nav-bar-template">
        {% include '_subtemplates/mobile/dc-nav-bar-mobile.html' %}
    </div>
    {% endif %}

    {% if page.headerSize == 'large' %}
    <div dc-if="page.headerSize == 'large'" class="dc-flexible-logo-main">
        <a class="dc-flexible-sprite" href="/">
            <h1 class="description-text">Drinking Cinema: Movie Drinking Games That Hammer Ass</h1>
        </a>
    </div>
    {% endif %}

    {% if page.headerSize == 'medium' %}
    <div dc-if="page.headerSize == 'medium'" class="dc-medium-logo-container">
        <div class="dc-flexible-logo">
            <a class="dc-flexible-sprite" href="/">
                <h1 class="description-text">Drinking Cinema: Movie Drinking Games That Hammer Ass</h1>
            </a>
        </div>
    </div>
    {% endif %}


    <div dc-include="page.subheader">
        {% block subheader %}

        {% endblock %}
    </div>
</div>
