<div class="dc-search-controller" dc-controller="search">


    <div class="dc-flexible-hr-top">
        <div class="dc-flexible-sprite"></div>
    </div>
    {% if page.results.numResults == 0 %}
    <div dc-include="#dc-no-search-results-template" dc-if="!searchSource.numResults">
        {% include '_subtemplates/dc-no-search-results.html' %}
    </div>
    {% endif %}
    <div dc-directive-infinite-scroll item-template="#dc-search-item-template" source="searchSource" class="dc-search-results-container">
        {% include 'directives/dc-directive-infinite-scroll.html' with {'items': page.results.results, 'numResults': page.results.numResults, 'item_template': '_subtemplates/mobile/dc-search-item-mobile.html'} %}
    </div>
</div>