@import "imports/dc-imports";

.header-image {
  position: relative;
  span {
    @include hiddenSpan();
  }
}

.dc-share-this-game-container{
  position: relative;
}

.dc-share-this-game{
  @extend .header-image;
  margin-bottom: 26px;
}

.dc-social-media-container{
  position: absolute;
  left: 210px;
  top: 50%;
  margin-top: -10px;
}

.dc-mandatory-drinks {
  @extend .header-image;
  margin-bottom: $dc-default-padding;
}

.dc-bonus-drinks {
  @extend .header-image;
  margin: $dc-default-padding 0;
}

.dc-find-this-movie {
  @extend .header-image;
  margin: $dc-default-padding 0;
}

.dc-movies-like-this {
  @extend .header-image;
  margin: $dc-default-padding 0;
}

.dc-game-rules-content{
  padding: $dc-default-padding;
  min-height: 36px;
}

.dc-button-icon{
  margin: $dc-default-padding;
  margin-left: 0px;
  span{
    @include hiddenSpan();
  }
}

.dc-vendor, .dc-game-suggestion{
  @include inline-block();
  position: relative;
}

.dc-vendor-netflix{
  @extend .dc-vendor;
  background-image: url($spriteBase + "netflixIcon.png");
}

.dc-vendor-hulu{
  @extend .dc-vendor;
  background-image: url($spriteBase + "huluIcon.png");
}

.dc-vendor-amazon{
  @extend .dc-vendor;
  background-image: url($spriteBase + "amazonIcon.png");
}