.idea
.DS_Store
**/.sass-cache/
**/*.log
drinking_cinema_back_end/application/config/config.php
drinking_cinema_back_end/application/config/database.php
drinking_cinema_back_end/application/config/email.php
drinking_cinema_back_end/application/config/tank_auth.php
cdn.drinkingcinema.com/Games/
cdn.drinkingcinema.com/uli/
cdn.drinkingcinema.com/Drinks/
