$cdn: "http://cdn.drinkingcinema.com/";
$spriteFolder: "Images/";
$spriteBase: $cdn + $spriteFolder;

$dc-background-url: $spriteBase + "DC_background.jpg";
$dc-logo-main-url: $spriteBase + "DC_header.jpg";
$dc-logo-long-url: $spriteBase + "DC_header2.jpg";

$dc-buttons-url: $spriteBase + "buttons.jpg";

$dc-controls-url: $spriteBase + "controls.png";
$dc-controls-reverse-url: $spriteBase + "controls_reverse.png";

$dc-header-controls-url: $spriteBase + "headerControls.png";

$dc-rte-icons-url: $spriteBase + "glyphicons-halflings.png";

$dc-headers-url: $spriteBase + "headers.png";

$dc-comment-words-url: $spriteBase + "commentsWords.png";

$dc-comment-container-url: $spriteBase + "commentsContainer.png";

$dc-subpages-url: $spriteBase + "subpages.jpg";

$dc-thumbnail: $spriteBase + "DC_sn_thumbnail.png";