$dc-white: #ffffff;

$dc-light-gray: #e1e1e1; //225,225,225
$dc-med-gray: #888888; //136, 136, 136
$dc-dark-gray: #333333; // 51, 51, 51

$dc-blue: #357AE8; // 53,122,232
$dc-dark-blue: #2e3192; //46,49,146

$dc-red: #D14836; // 209,72,54

$dc-black: #000000;

