<div class="dc-autocomplete-search-modal" dc-class="{'show': open}" dc-style="{'padding-right': paddingRight}">
    <div class="dc-x-out" dc-click="parentScope.hideModal"></div>
    <div class="dc-autocomplete-search">
        <div class="dc-mag-glass"></div>
        <div dc-directive-input input-model="parentScope.parentScope.rawSearchTerms" placeholder="Search" name="Search">
            {% include 'directives/dc-directive-input.html' with {'placeholder': 'Search'} %}
        </div>
        <div class="dc-flexible-hr-top">
            <div class="dc-flexible-sprite"></div>
        </div>
    </div>
    <div dc-include="#dc-search-nav-bar-template">
        {% include '_subtemplates/mobile/dc-search-nav-bar-mobile.html' %}
    </div>
    <div class="dc-autocomplete-search-results">
        <div class="dc-autocomplete-search-result" dc-repeat="item in parentScope.searchResults" dc-include="parentScope.itemTemplate">
        </div>
    </div>
</div>