.animate, .dc-lightbox-modal, .dc-close-lightbox-modal {
  -moz-animation-duration: 0.6s;
  -webkit-animation-duration: 0.6s;
  animation-duration: 0.6s;
  -moz-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  -moz-animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -moz-animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.dc-lightbox-header {
  position: fixed;
  z-index: 4;
  background: #ffffff;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 45px;
  display: none;
}
.dc-lightbox-header.show {
  display: block;
}
.dc-lightbox-header.show .dc-close-lightbox-modal {
  display: block;
  -moz-animation-name: fadeIn;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

.dc-lightbox-modal {
  width: 100%;
  background: #ffffff;
  z-index: 2;
  position: fixed;
  padding: 10px;
  top: 0px;
  left: 0px;
  will-change: opacity;
  overflow: hidden;
  display: none;
}
.dc-lightbox-modal .dc-loader {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -20px;
  margin-left: -20px;
}
.dc-lightbox-modal.show {
  display: block;
  min-height: 100vh;
  -moz-animation-name: fadeInBackground;
  -webkit-animation-name: fadeInBackground;
  animation-name: fadeInBackground;
}

.dc-lightbox-img-anchor {
  display: inline-block;
  *display: inline;
  zoom: 1;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -moz-transition: opacity 0s cubic-bezier(0.215, 0.61, 0.355, 1) 0.6s;
  -o-transition: opacity 0s cubic-bezier(0.215, 0.61, 0.355, 1) 0.6s;
  -webkit-transition: opacity 0s cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-transition-delay: 0.6s;
  transition: opacity 0s cubic-bezier(0.215, 0.61, 0.355, 1) 0.6s;
}
.dc-lightbox-img-anchor.show {
  -moz-transition: none;
  -o-transition: none;
  -webkit-transition: none;
  transition: none;
}

.dc-lightbox-img {
  position: absolute;
  left: 50%;
  pointer-events: none;
  z-index: 3;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -moz-transition: -moz-transform 0.6s cubic-bezier(0.215, 0.61, 0.355, 1), opacity 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition: -o-transform 0.6s cubic-bezier(0.215, 0.61, 0.355, 1), opacity 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-transition: -webkit-transform 0.6s cubic-bezier(0.215, 0.61, 0.355, 1), opacity 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: transform 0.6s cubic-bezier(0.215, 0.61, 0.355, 1), opacity 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.dc-lightbox-img.show {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  -moz-transition: -moz-transform 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition: -o-transform 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-transition: -webkit-transform 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: transform 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.dc-close-lightbox-modal {
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 2;
  padding: 5px 8px;
  display: none;
}
