<div class="dc-text-input-container show-placeholder" dc-class="{'show-placeholder': isEmpty && !hasFocus, 'error': !!errors.length}">
    {% if isTextArea %}
        <textarea dc-if="isTextArea" class="dc-text-input" dc-class="{'error': !!errors.length, 'processing': processing || parentScope.processing}" dc-focus="onFocus" dc-blur="onBlur" dc-input="onInput"></textarea>
    {% else %}
        <div dc-if="!isTextArea" class="dc-text-input" dc-class="{'error': !!errors.length, 'processing': processing || parentScope.processing}" contenteditable="{{isEditable}}" dc-focus="onFocus" dc-blur="onBlur" dc-keydown="onKeydown" dc-keyup="onKeyup" dc-paste="onPaste" dc-input="onInput"></div>
    {% endif %}
    <div class="dc-text-input-placeholder">{{placeholder}}</div>
    <div class="dc-text-input-x"></div>
    <div class="dc-text-input-error" dc-if="errors.length">{{errors[0]}}</div>
</div>