<div class="dc-directive-upload-thumbnail-preview-modal">
    <div class="dc-directive-upload-thumbnail-preview-container">
        <img class="dc-directive-upload-thumbnail-image" src="{{parentScope.image}}">
        <div class="dc-directive-upload-thumbnail-thumbnails">
            <div class="dc-directive-upload-thumbnail-current dc-thumbnail" style="background-image: url('{{parentScope.thumbnail}}')"></div>
            <div class="dc-directive-upload-thumbnail-preview dc-thumbnail">
                <img src="{{parentScope.image}}" dc-style="{'width': preview.width, 'height': preview.height, 'margin-left': preview.left, 'margin-top': preview.top}">
            </div>
            {{preview.coords.w}}
        </div>
    </div>
    <div class="dc-directive-upload-image-buttons">
        <div class="dc-text-input-error" dc-if="errors && !isProcessing && !parentScope.isProcessing">
            <div dc-repeat="error in errors">{{error.message}}</div>
        </div>
        <button class="dc-button-secondary" dc-class="{'processing': isProcessing || parentScope.isProcessing}" dc-click="cancel">
            Cancel
        </button>
        <button class="dc-button-primary" dc-class="{'processing': isProcessing || parentScope.isProcessing}" dc-click="parentScope.submit">
            Submit
        </button>
    </div>
</div>