<div class="dc-game-image" style="background-image: url('{{game.image}}')">
    <h1>A Movie Drinking Game for {{game.name}}</h1>
    <div dc-directive-embed-game>
        {% include 'directives/dc-directive-embed-game.html' %}
    </div>
    {% if page.isAdmin %}
        <div dc-if="isAdmin">
            <div dc-directive-upload-thumbnail image="game.image" thumbnail="game.thumbnail" submit="submitThumbnail">
                {% include 'directives/dc-directive-upload-thumbnail.html' %}
            </div>

            <div dc-directive-upload-image submit="submitImage">
                {% include 'directives/dc-directive-upload-image.html' %}
            </div>
        </div>
    {% endif %}
</div>