<div class="dc-embed-game dc-button" dc-click="showContent" dc-class="{'show': showing}">
    <div class="dc-embed-game-title">
        Embed Game
    </div>
    <div class="dc-embed-game-content">
        <div class="dc-x-out" dc-click="hideContent"></div>
        <div class="dc-embed-game-content-title">
            Paste HTML to embed in website
        </div>
        <textarea dc-directive-auto-select dc-model="embedText"></textarea>
        <div class="dc-embed-game-content-subtitle">
            Note: To change the size of the embeded game, alter the width and height attributes of the iframe.
        </div>
    </div>
</div>