.dc-game-image {
  margin: 0 auto;
  margin-top: 10px;
  width: 750px;
  height: 970px;
  position: relative;
  background-color: #ffffff;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 100%;
}
.dc-game-image h1 {
  position: absolute;
  top: 50%;
  left: 0px;
  margin-top: -14px;
  z-index: -1;
  color: #ffffff;
}
.dc-game-image.isAdmin [dc-directive-embed-game], .dc-game-image.isAdmin .dc-full-image-link {
  top: auto;
  bottom: 0px;
}
.dc-game-image [dc-directive-embed-game] {
  left: 0px;
}
.dc-game-image .dc-full-image-link {
  right: 0px;
}
.dc-game-image [dc-directive-embed-game], .dc-game-image .dc-full-image-link {
  position: absolute;
  top: 10px;
}
.dc-game-image .dc-embed-game, .dc-game-image .dc-full-image-link {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
.dc-game-image .dc-embed-game.has-focus, .dc-game-image .dc-full-image-link.has-focus {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
.dc-game-image:hover .dc-embed-game, .dc-game-image:hover .dc-full-image-link {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=51);
  opacity: 0.51;
}
.dc-game-image:hover .dc-embed-game.has-focus, .dc-game-image:hover .dc-full-image-link.has-focus {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
.dc-game-image:hover .dc-embed-game:hover, .dc-game-image:hover .dc-full-image-link:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}

.tablet .dc-game-image .dc-full-image-link, .tablet .dc-game-image .dc-embed-game {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
}
