.dc-embed-game {
  position: relative;
  will-change: opacity;
  -moz-transition: opacity 0.218s ease-in-out;
  -o-transition: opacity 0.218s ease-in-out;
  -webkit-transition: opacity 0.218s ease-in-out;
  transition: opacity 0.218s ease-in-out;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=51);
  opacity: 0.51;
}
.dc-embed-game .dc-x-out {
  display: none;
  position: absolute;
  top: 5px;
  right: 5px;
}
.dc-embed-game:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
.dc-embed-game.active, .dc-embed-game:active {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.dc-embed-game.show {
  cursor: default;
}
.dc-embed-game.show .dc-x-out {
  display: block;
}
.dc-embed-game.show .dc-embed-game-content {
  display: block;
  -moz-animation-name: fadeInAndTranslate;
  -webkit-animation-name: fadeInAndTranslate;
  animation-name: fadeInAndTranslate;
}

.dc-embed-game-content {
  text-transform: none;
  width: 303px;
  will-change: opacity, transform, -webkit-transform;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -moz-animation-duration: 0.436s;
  -webkit-animation-duration: 0.436s;
  animation-duration: 0.436s;
  -moz-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  -moz-animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -moz-animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  display: none;
}
.dc-embed-game-content textarea {
  height: 55px;
  padding: 5px;
  resize: none;
  white-space: normal;
  overflow-x: visible;
  width: 100%;
  font-family: inherit;
  font-size: 0.8em;
}

.dc-embed-game-content-title {
  font-size: 0.8em;
  padding: 5px 0px;
}

.dc-embed-game-content-subtitle {
  font-size: 0.8em;
  padding-top: 5px;
}
