.dc-tooltip-image-container.loaded .dc-loader {
  display: none;
}
.dc-tooltip-image-container.loaded .dc-tooltip-image {
  display: block;
}
.dc-tooltip-image-container.loaded .dc-tooltip-image img.original {
  -moz-animation-name: fadeIn;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  max-width: 200px;
  max-height: 150px;
}

.dc-tooltip-image {
  display: none;
}
.dc-tooltip-image img {
  max-width: 200px;
  max-height: 150px;
}
.dc-tooltip-image img.original {
  will-change: opacity;
  -moz-animation-duration: 0.872s;
  -webkit-animation-duration: 0.872s;
  animation-duration: 0.872s;
  -moz-animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -moz-animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -moz-animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  max-width: 16px;
  max-height: 16px;
}
