.dc-directive-upload-thumbnail {
  position: absolute;
  top: 10px;
  left: 0px;
  padding: 10px;
}

.dc-directive-upload-thumbnail-image {
  width: 618px;
  vertical-align: top;
}

.dc-directive-upload-thumbnail-preview-modal {
  width: 718px;
  position: relative;
  padding: 10px;
  margin: 10px 0 0;
}

.dc-directive-upload-thumbnail-preview-container {
  margin-bottom: 20px;
  min-height: 120px;
}

.dc-directive-upload-thumbnail-thumbnails {
  position: absolute;
  right: 10px;
  top: 10px;
}

.dc-directive-upload-thumbnail-current, .dc-directive-upload-thumbnail-preview {
  -moz-border-radius: none;
  -webkit-border-radius: none;
  border-radius: none;
  border: 1px solid #e1e1e1;
  margin-bottom: 10px;
}
.dc-directive-upload-thumbnail-current:hover, .dc-directive-upload-thumbnail-preview:hover {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

.dc-directive-upload-thumbnail-preview {
  overflow: hidden;
}
