.dc-buttons, .dc-hr-top, .dc-hr-bottom, .dc-search-left-flare, .dc-search-left-flare-small, .dc-search-right-flare, .dc-search-right-flare-small, .dc-chug-to-this, .dc-num-comments, .dc-share-this-game {
  background-image: url("http://cdn.drinkingcinema.com/Images/buttons.jpg");
}

.dc-controls, .dc-thumbs-up, .dc-thumbs-down, .dc-thumbs-bubble, .dc-share-face, .dc-bubble-1, .dc-bubble-2, .dc-bubble-3, .dc-x-out, .dc-pen {
  background-image: url("http://cdn.drinkingcinema.com/Images/controls.png");
}

.dc-controls-reverse, .dc-thumbs-up.reverse, .dc-thumbs-down.reverse, .dc-thumbs-bubble.reverse, .dc-share-face.reverse, .dc-bubble-1.reverse, .dc-bubble-2.reverse, .dc-bubble-3.reverse {
  background-image: url("http://cdn.drinkingcinema.com/Images/controls_reverse");
}

.dc-header-controls, .dc-search-bubble, .dc-mag-glass {
  background-image: url("http://cdn.drinkingcinema.com/Images/headerControls.png");
}

.dc-headers, .dc-mandatory-drinks, .dc-bonus-drinks, .dc-find-this-movie {
  background-image: url("http://cdn.drinkingcinema.com/Images/headers.png");
}

.dc-thumbs-up {
  width: 40px;
  height: 28px;
  background-position: -57px -2px;
}

.dc-thumbs-down {
  width: 40px;
  height: 28px;
  background-position: -97px -4px;
}

.dc-thumbs-bubble {
  width: 45px;
  height: 36px;
  background-position: -9px -26px;
}

.dc-share-face {
  width: 64px;
  height: 65px;
  background-position: -195px -2px;
}
.dc-share-face.reverse {
  background-position: -7px -2px;
}

.dc-bubble-1 {
  width: 186px;
  height: 65px;
  background-position: -5px -64px;
}

.dc-bubble-2 {
  width: 246px;
  height: 58px;
  background-position: -5px -127px;
}
.dc-bubble-2.reverse {
  background-position: -20px -127px;
}

.dc-bubble-3 {
  width: 192px;
  height: 53px;
  background-position: -9px -185px;
}

.dc-x-out {
  width: 14px;
  height: 20px;
  background-position: -7px -8px;
  cursor: pointer;
}

.dc-pen {
  width: 24px;
  height: 30px;
  background-position: -140px -5px;
  cursor: pointer;
}

.dc-search-bubble {
  width: 330px;
  height: 46px;
  margin-left: 10px;
  background-position: 0px -47px;
}

.dc-mag-glass {
  width: 20px;
  height: 15px;
  background-position: -108px -98px;
}

.dc-hr-top, .dc-hr-bottom {
  border-width: 0;
  width: 750px;
  height: 16px;
}

.dc-hr-top {
  background-position: -8px -133px;
}

.dc-hr-bottom {
  background-position: -8px -348px;
}

.rte-icon, .rte-icon-text, .dc-icon-bold, .dc-icon-italic, .dc-icon-underline, .dc-icon-link, .dc-icon-list, .dc-icon-bullets, .dc-icon-indent, .dc-icon-outdent, .dc-icon-align-left, .dc-icon-align-right, .dc-icon-align-center, .dc-icon-align-justify {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: text-top;
  position: relative;
}
.rte-icon:after, .rte-icon-text:after, .dc-icon-bold:after, .dc-icon-italic:after, .dc-icon-underline:after, .dc-icon-link:after, .dc-icon-list:after, .dc-icon-bullets:after, .dc-icon-indent:after, .dc-icon-outdent:after, .dc-icon-align-left:after, .dc-icon-align-right:after, .dc-icon-align-center:after, .dc-icon-align-justify:after {
  content: ' ';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 14px;
  height: 14px;
  margin-top: -7px;
  margin-left: -7px;
  line-height: 14px;
  background-image: url("http://cdn.drinkingcinema.com/Images/glyphicons-halflings.png");
  background-position: 14px 14px;
  background-repeat: no-repeat;
  text-align: center;
  padding-top: 1px;
}

.rte-icon-text:after, .dc-icon-bold:after, .dc-icon-italic:after, .dc-icon-underline:after, .dc-icon-link:after {
  background-image: none;
}

.dc-icon-bold {
  font-weight: bold;
}
.dc-icon-bold:after {
  content: 'B';
}

.dc-icon-italic {
  font-style: italic;
}
.dc-icon-italic:after {
  content: 'I';
}

.dc-icon-underline {
  text-decoration: underline;
}
.dc-icon-underline:after {
  content: 'U';
}

.dc-icon-list:after {
  background-position: -360px -48px;
}

.dc-icon-bullets:after {
  background-position: -264px 0;
}

.dc-icon-indent:after {
  background-position: -384px -48px;
}

.dc-icon-outdent:after {
  background-position: -408px -48px;
}

.dc-icon-align-left:after {
  background-position: -264px -48px;
}

.dc-icon-align-right:after {
  background-position: -312px -48px;
}

.dc-icon-align-center:after {
  background-position: -288px -48px;
}

.dc-icon-align-justify:after {
  background-position: -336px -48px;
}

.dc-icon-link:after {
  content: 'L';
}

.dc-search-left-flare {
  height: 145px;
  width: 60px;
  background-position: -8px -165px;
}

.dc-search-left-flare-small {
  height: 60px;
  width: 35px;
  background-position: -188px -168px;
}

.dc-search-right-flare {
  height: 145px;
  width: 60px;
  background-position: -85px -165px;
}

.dc-search-right-flare-small {
  height: 60px;
  width: 35px;
  background-position: -235px -173px;
}

.dc-chug-to-this {
  width: 224px;
  height: 48px;
  background-position: -300px -159px;
}

.dc-num-comments {
  width: 270px;
  height: 40px;
  background-position: -297px -213px;
}

.dc-share-this-game {
  height: 31px;
  width: 200px;
  background-position: -22px -513px;
}

.dc-mandatory-drinks {
  height: 88px;
  width: 528px;
  background-position: -8px -80px;
}

.dc-bonus-drinks {
  width: 490px;
  height: 70px;
  background-position: -13px -175px;
}

.dc-find-this-movie {
  width: 495px;
  height: 70px;
  background-position: -11px -245px;
}

.dc-loader {
  background-image: url("http://cdn.drinkingcinema.com/Images/loader.gif");
  width: 16px;
  height: 16px;
}

.dc-game-image {
  margin: 0 auto;
  margin-top: 10px;
  width: 750px;
  height: 970px;
  position: relative;
  background-color: #ffffff;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 100%;
}
.dc-game-image h1 {
  position: absolute;
  top: 50%;
  left: 0px;
  margin-top: -14px;
  z-index: -1;
  color: #ffffff;
}
