.dc-game-image {
  margin: 0 auto;
  margin-top: 10px;
  width: 750px;
  height: 970px;
  position: relative;
  background-color: #ffffff;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 100%;
}
.dc-game-image h1 {
  position: absolute;
  top: 50%;
  left: 0px;
  margin-top: -14px;
  z-index: -1;
  color: #ffffff;
}
