.dc-directive-tooltip {
  position: fixed;
  z-index: 1;
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.8);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  will-change: opacity;
}
.dc-directive-tooltip.show {
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -moz-transition: opacity 0.218s ease-in-out, -moz-transform 0.218s cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition: opacity 0.218s ease-in-out, -o-transform 0.218s cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-transition: opacity 0.218s ease-in-out, -webkit-transform 0.218s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: opacity 0.218s ease-in-out, transform 0.218s cubic-bezier(0.215, 0.61, 0.355, 1);
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
.dc-directive-tooltip.hide {
  -moz-transform: translate3d(0, 20px, 0);
  -ms-transform: translate3d(0, 20px, 0);
  -webkit-transform: translate3d(0, 20px, 0);
  transform: translate3d(0, 20px, 0);
  -moz-transition: opacity 0.218s ease-in-out, top 0s ease-in-out 0.218s, left 0s ease-in-out 0.218s, -moz-transform 0s cubic-bezier(0.215, 0.61, 0.355, 1) 0.218s;
  -o-transition: opacity 0.218s ease-in-out, top 0s ease-in-out 0.218s, left 0s ease-in-out 0.218s, -o-transform 0s cubic-bezier(0.215, 0.61, 0.355, 1) 0.218s;
  -webkit-transition: opacity 0.218s ease-in-out, top 0s ease-in-out, left 0s ease-in-out, -webkit-transform 0s cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-transition-delay: 0s, 0.218s, 0.218s, 0.218s;
  transition: opacity 0.218s ease-in-out, top 0s ease-in-out 0.218s, left 0s ease-in-out 0.218s, transform 0s cubic-bezier(0.215, 0.61, 0.355, 1) 0.218s;
  top: -100% !important;
  left: -100% !important;
}

.dc-directive-tooltip-tail-template, .dc-directive-tooltip-tail, .dc-directive-tooltip-tail-top {
  height: 16px;
  width: 16px;
  background: #ffffff;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -8px;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.dc-directive-tooltip-tail {
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.8);
}

.dc-directive-tooltip-container {
  position: relative;
  background: #ffffff;
  z-index: 1;
}

.dc-directive-tooltip-tail-top {
  z-index: -1;
}

.dc-directive-tooltip-body {
  background: #ffffff;
  padding: 10px;
  max-width: 220px;
  text-transform: capitalize;
}
