.dc-text-input-container {
  position: relative;
  padding: 6px 0px 14px;
}
.dc-text-input-container.show-placeholder .dc-text-input-placeholder {
  pointer-events: none;
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  font-size: inherit;
  color: #888888;
}
.dc-text-input-container.error .dc-text-input-x {
  display: block;
}

.dc-text-input-placeholder {
  position: absolute;
  top: 18px;
  left: 7px;
  -moz-transform: translate3d(-3px, -24px, 0);
  -ms-transform: translate3d(-3px, -24px, 0);
  -webkit-transform: translate3d(-3px, -24px, 0);
  transform: translate3d(-3px, -24px, 0);
  font-size: 12px;
  color: #888888;
  -moz-transition: -moz-transform 0.109s ease-in-out, font-size 0.109s ease-in-out, color 0.109s ease-in-out;
  -o-transition: -o-transform 0.109s ease-in-out, font-size 0.109s ease-in-out, color 0.109s ease-in-out;
  -webkit-transition: -webkit-transform 0.109s ease-in-out, font-size 0.109s ease-in-out, color 0.109s ease-in-out;
  transition: transform 0.109s ease-in-out, font-size 0.109s ease-in-out, color 0.109s ease-in-out;
  content: attr(placeholder);
}

.dc-text-input-x {
  position: absolute;
  top: 18px;
  left: 100%;
  margin-left: 5px;
  font-weight: bold;
  color: #D14836;
  display: none;
}
.dc-text-input-x:before {
  content: "\00d7";
}

.dc-text-input {
  position: relative;
  line-height: 22px;
  padding: 6px;
  outline: none;
  height: 36px;
  border: 1px solid #e1e1e1;
  -moz-transition: all 0.109s ease-in-out;
  -o-transition: all 0.109s ease-in-out;
  -webkit-transition: all 0.109s ease-in-out;
  transition: all 0.109s ease-in-out;
  background-color: #ffffff;
  max-height: 36px;
  white-space: nowrap;
  overflow-x: hidden;
}
.dc-text-input.processing {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  opacity: 0.3;
  pointer-events: none;
}
.dc-text-input:hover {
  color: #000000;
  border: 1px solid #888888;
}
.dc-text-input:focus {
  border: 1px solid #888888;
}
.dc-text-input.error {
  border-color: rgba(209, 72, 54, 0.4);
}
.dc-text-input.error:focus {
  border-color: #D14836;
}

.dc-text-input-error {
  position: absolute;
  color: #D14836;
  line-height: 14px;
  font-size: 12px;
  right: 6px;
  bottom: 0px;
}

.dc-text-area .dc-text-input-container {
  height: inherit;
}
.dc-text-area .dc-text-input {
  max-height: none;
  white-space: normal;
  overflow-x: visible;
  height: inherit;
  min-height: 108px;
  font-size: inherit;
  width: 100%;
  font-family: inherit;
  resize: none;
}
