<div class="dc-comment-form-header dc-leave-a-comment">
    <span>Leave A Comment</span>
</div>
<div class="dc-comment-form" dc-class="{'show-inputs': inputHasFocus || !!comment.comment}">
    <div class="dc-comment-form-message">
        <h2>Do you guys think comments are cool?</h2>
        <p>Does anything on this page excite you?</p>
        <p>Does this page please you?</p>
        <p>Do you have some great trivia?</p>
        <p>Did we miss anything?</p>
    </div>
    <div class="dc-comment-form-body">
        <div class="dc-comment-form-text-area-container">
            <div dc-directive-input-text-area input-model="parentScope.comment.comment" placeholder="You should leave a comment!" name="Comment" validators="required" onValidate="onValidate" onFocusBlur="onInputFocusBlur" class="dc-text-area">
                {% include 'directives/dc-directive-input.html' with {'placeholder': 'You should leave a comment!', 'isTextArea': true} %}
            </div>
        </div>
        <div class="dc-comment-form-inputs">
            <div dc-directive-input input-model="parentScope.comment.name" placeholder="Name" name="Name" validators="required" onValidate="onValidate" onFocusBlur="onInputFocusBlur">
                {% include 'directives/dc-directive-input.html' with {'placeholder': 'Name'} %}
            </div>
            <div dc-directive-input input-model="parentScope.comment.email" placeholder="E-Mail (won't be published)" name="E-Mail" validators="required,email" onValidate="onValidate" onFocusBlur="onInputFocusBlur">
                {% include 'directives/dc-directive-input.html' with {'placeholder': "E-Mail (won't be published"} %}
            </div>
        </div>
        <div class="dc-comment-form-bottom">
            <button class="dc-button-primary dc-comment-form-submit" dc-class="{'processing': isProcessing}" dc-click="submitComment">Submit</button>
            <div class="dc-text-input-error" dc-if="errors">
                <div dc-repeat="error in errors">{{error.message}}</div>
            </div>
        </div>
    </div>
</div>