<div directive-editable="{{field}}" class="dc-directive-editable" dc-class="{'editing': editing}">
    <div class="dc-pen" dc-click="edit"></div>

    <div class="dc-directive-editable-header">
        <div class="dc-directive-editable-header-container">
            <div class="dc-x-out" dc-click="cancel"></div>
            <div class="dc-directive-editable-controls" dc-class="{'disabled': !hasFocus}" dc-if="isRTE">
                {% spaceless %}
                <div class="dc-rte-button dc-button dc-icon-bold" dc-class="{'active': selection.styles['font-weight'] == 'bold'}" dc-click="bold" dc-mousedown="preventDefault"></div>
                <div class="dc-rte-button dc-button dc-icon-italic" dc-class="{'active': selection.styles['font-style'] == 'italic'}" dc-click="italic" dc-mousedown="preventDefault"></div>
                <div class="dc-rte-button dc-button dc-icon-underline" dc-class="{'active': selection.styles['text-decoration'] == 'underline'}" dc-click="underline" dc-mousedown="preventDefault"></div>

                <div class="dc-rte-button dc-button dc-icon-align-left" dc-class="{'active': selection.styles['text-align'] == 'left'}" dc-click="alignLeft" dc-mousedown="preventDefault"></div>
                <div class="dc-rte-button dc-button dc-icon-align-center" dc-class="{'active': selection.styles['text-align'] == 'center'}" dc-click="alignCenter" dc-mousedown="preventDefault"></div>
                <div class="dc-rte-button dc-button dc-icon-align-right" dc-class="{'active': selection.styles['text-align'] == 'right'}" dc-click="alignRight" dc-mousedown="preventDefault"></div>
                <div class="dc-rte-button dc-button dc-icon-align-justify" dc-class="{'active': selection.styles['text-align'] == 'justify'}" dc-click="alignFull" dc-mousedown="preventDefault"></div>

                <div class="dc-rte-button dc-button dc-icon-list" dc-class="{'active': selection.inList.ol}" dc-click="list" dc-mousedown="preventDefault"></div>
                <div class="dc-rte-button dc-button dc-icon-bullets" dc-class="{'active': selection.inList.ul}" dc-click="bullets" dc-mousedown="preventDefault"></div>
                <div class="dc-rte-button dc-button dc-icon-indent" dc-click="indent" dc-mousedown="preventDefault"></div>
                <div class="dc-rte-button dc-button dc-icon-outdent"  dc-click="outdent" dc-mousedown="preventDefault"></div>

                <div class="dc-rte-button dc-button dc-icon-link" dc-class="{'disabled': !selection || !selection.range || selection.range.collapsed || selection.inAnchor}" dc-click="link" dc-mousedown="preventDefault"></div>
                {% endspaceless %}
            </div>
        </div>
    </div>
    <div class="dc-directive-editable-link-panel" dc-if="isRTE" dc-class="{'show': !hasFocus2 && linkPanel}" dc-style="{'top': linkPanel.top, 'left': linkPanel.left, 'right': linkPanel.right}" dc-mousedown="preventDefault">
        <span>Go to link: </span><a href="{{linkPanel.link}}" title="{{linkPanel.link}}" target="_blank">{{linkPanel.link}}</a><span class="dc-directive-editable-link-panel-controls"> | <span class="dc-fake-link" dc-click="changeLink">Change</span> | <span class="dc-fake-link" dc-click="unlink">Remove</span></span>
    </div>
    <div class="dc-directive-editable-body" contenteditable="{{editing ? 'true' : 'false'}}" dc-model="content" dc-keydown="onKeydown" dc-keyup="onKeyup" dc-mouseup="onMouseup" dc-focus="onFocus" dc-blur="onBlur">
        {{contentHTML}}
    </div>
    <div class="dc-directive-editable-footer">
        <div class="dc-directive-editable-footer-buttons">
            {% spaceless %}
                <button class="dc-button-secondary" dc-click="cancel" dc-class="{'processing': processing}">
                    Cancel
                </button>
                <button class="dc-button-primary" dc-class="{'processing': processing}" dc-click="submit">
                    Submit
                </button>
            {% endspaceless %}
        </div>
    </div>
</div>