<div class="dc-nav-bar">
    {% spaceless %}
    {% for link in page.navBarLinks %}
        <span dc-repeat="link in page.navBarLinks" >
        <a href="{{link.href}}" class="dc-nav-bar-{{link.name}}{% if page.title == link.name %} selected{% endif %}" dc-class="{'selected': page.title === link.name}" target="{{link.target}}" dc-attr="{'href': link.href, 'target': link.target}">
            <span>{{link.name}}</span>
        </a>
        {% if link.hasX %}
            <span dc-if="link.hasX" class="dc-nav-bar-x-{{loop.index ? loop.index : repeatIndex + 1}}"></span>
        {% endif %}
        </span>
    {% endfor %}
    {% endspaceless %}
</div>