<div class="dc-slideshow dc-slideshow-admin">
    <div class="dc-slideshow-header">
        <div class="dc-slideshow-header-img" dc-drop="uploadCoverImage" dc-dragover="preventDefault">
            <div class="dc-slideshow-img-container" style="background-image: url('{{slideshow.img}}')">

            </div>
        </div>

        <h1 class="dc-slideshow-title" dc-style="{'z-index': titleZIndex}">
            <div dc-directive-editable content="slideshow.title" submit="submitTitle">
                {% include 'directives/dc-directive-editable.html' with {'field': 'title', 'contentHTML': slideshow.title} %}
            </div>
        </h1>

    </div>
    <div class="dc-slideshow-description" dc-style="{'z-index': descriptionZIndex}">
        <div dc-directive-editable-rte content="slideshow.description" submit="submitDescription">
            {% include 'directives/dc-directive-editable.html' with {'field': 'description', 'contentHTML': slideshow.description} %}
        </div>
    </div>
    <div class="dc-slideshow-modal" dc-directive-slideshow-modal slideshow-slides="slideshow.slides" slideshow-thumbnail-template="#dc-slideshow-thumbnails-admin-template">
        {% include 'directives/dc-directive-slideshow-modal.html' with {'slides': slideshow.slides, 'thumbnailTemplate': '_subtemplates/dc-slideshow-thumbnails-admin.html'} %}
    </div>
</div>