{% spaceless %}
    <div class="dc-social-media-buttons">
        <div class="dc-social-media-button fb">
            <div class="fb-like" data-send="false" data-layout="button_count" data-width="90" data-font="verdana" data-href="{{page.ogUrl}}"></div>
        </div>
        <div class="dc-social-media-button twitter">
            <a class="twitter-share-button" href="https://twitter.com/share" data-via="DrinkingCinema" data-url="{{page.ogUrl}}" data-text="{{page.tweet}}">Tweet</a>
        </div>
        <div class="dc-social-media-button pinterest">
            <a class="pin-it-button" count-layout="horizontal" href="{{page.pinUrl}}">
                <img border="0" src="//assets.pinterest.com/images/PinExt.png" title="Pin It" />
            </a>
        </div>
        <div class="dc-social-media-button google">
            <div class="g-plusone" data-size="medium" data-href="{{page.ogUrl}}"></div>
        </div>
        <div class="dc-social-media-button su">
            <su:badge layout="1" location="{{page.ogUrl}}"></su:badge>
        </div>
    </div>
{% endspaceless %}