{% include '_subtemplates/nav_bar.html' with {
    'links' : [
        {
            'name': 'faq',
            'href': '/faq',
            'hasX': 'true'
        },
        {
            'name': 'about',
            'href': '/about',
            'hasX': 'true'
        },
        {
            'name': 'contact',
            'href': '/contact',
            'hasX': 'true'
        },
        {
            'name': 'follow'
        },
        {
            'name': 'twitter',
            'href': 'http://twitter.com/drinkingcinema',
            'target': '_blank'
        },
        {
            'name': 'facebook',
            'href': 'http://www.facebook.com/DrinkingCinema',
            'target': '_blank'
        }
    ]
} %}
{% block header %}
{% endblock %}
<div class="dc-search-bar">
    {% block subheader %}

    {% endblock %}
    <div class="dc-search-input dc-search-bubble">
        <input class="dc-input" type="text" value="" placeholder="Search" />
        <a class="dc-search-input-button dc-mag-glass"></a>
    </div>
    <hr class="dc-hr-top">
</div>

