{% include '_subtemplates/nav-bar.html' with {
    'links' : [
        {
            'name': 'faq',
            'href': '/faq',
            'hasX': 'true'
        },
        {
            'name': 'about',
            'href': '/about',
            'hasX': 'true'
        },
        {
            'name': 'contact',
            'href': '/contact',
            'hasX': 'true'
        },
        {
            'name': 'follow'
        },
        {
            'name': 'twitter',
            'href': 'http://twitter.com/drinkingcinema',
            'target': '_blank'
        },
        {
            'name': 'facebook',
            'href': 'http://www.facebook.com/DrinkingCinema',
            'target': '_blank'
        }
    ]
} %}
{% block header %}
{% endblock %}
<div class="dc-search-bar">
    {% block subheader %}

    {% endblock %}
    <div dc-directive-search-input="searchText">
        {% include '_subtemplates/dc-directive-search-input.html' %}
    </div>
    <hr class="dc-hr-top">
</div>

