.dc-page .dc-comments-controller {
  margin: 10px 0;
}

.dc-additional-pages-subheader {
  margin-top: 10px;
}
.dc-additional-pages-subheader span {
  position: absolute;
  top: 50%;
  left: 0px;
  margin-top: -8px;
  z-index: -1;
  color: #ffffff;
}
