.dc-social-media-buttons {
  display: inline-block;
  *display: inline;
  zoom: 1;
  position: relative;
  will-change: opacity;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -moz-animation-duration: 0.218s;
  -webkit-animation-duration: 0.218s;
  animation-duration: 0.218s;
  -moz-animation-delay: 1s;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
  -moz-animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -moz-animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -moz-animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -moz-animation-name: fadeIn;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

.dc-social-media-button {
  display: inline-block;
  *display: inline;
  zoom: 1;
  position: relative;
  min-width: 107px;
  vertical-align: top;
}
