@mixin inline-block() {
  display: inline-block;
  *display: inline;
  zoom: 1;
}

@mixin truncate() {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin hiddenSpan(){
  position: absolute;
  top: 50%;
  left: 0px;
  margin-top: -8px;
  z-index: -1;
  color: $dc-white;
}