$dc-default-padding: 10px;
$dc-game-ratio: 8.5/11;
$dc-content-width: 750px;

$dc-border-radius: 10px;

$dc-thumbnail-width: 60px;
$dc-thumbnail-height: 60px;

$dc-small-image-height: 800px;
$dc-small-image-width: floor($dc-small-image-height * $dc-game-ratio);

$dc-med-image-width: $dc-content-width;
$dc-med-image-height: floor($dc-med-image-width/$dc-game-ratio);

$dc-tv-loader-size: 40px;

$dc-logo-main-width: 800px;
$dc-logo-main-height: 300px;

$dc-logo-long-width: 800px;
$dc-logo-long-height: 100px;

$dc-logo-long-sprite-width: 800px;
$dc-logo-long-sprite-height: 200px;

$dc-buttons-sprite-width: 755px;
$dc-buttons-sprite-height: 595px;

$dc-headers-sprite-width: 638px;
$dc-headers-sprite-height: 402px;