@import "imports/dc-imports";


$time: 0.218s;
$easing: ease-in-out;
$dc-directive-editable-padding: 10px;

.dc-directive-editable {
  position: relative;
  padding: 0 $dc-directive-editable-padding;
  margin-left: -$dc-directive-editable-padding;
  border: 1px solid $dc-white;
  border-top-width: 0px;
  border-bottom-width: 0px;
  @include transition(border $time $easing);

  .dc-x-out, .dc-pen {
    position: absolute;
    top: $dc-directive-editable-padding;
    right: $dc-directive-editable-padding;
    z-index: 2;
  }

  .dc-pen {
    top: $dc-directive-editable-padding/2;
  }

  &:hover {
    border-color: $dc-med-gray;
    .dc-directive-editable-header {
      border-color: $dc-med-gray;
    }
    .dc-directive-editable-footer {
      border-color: $dc-med-gray;
    }
  }

  &.editing {
    border-color: $dc-med-gray;

    .dc-pen{
      display: none;
    }
    .dc-directive-editable-header {
      border-color: $dc-med-gray;
      @include transform(translate3D(0px,-100%,0px));
      .dc-directive-editable-header-container {
        @include opacity(1);
      }
    }
    .dc-directive-editable-footer {
      border-color: $dc-med-gray;
      @include transform(translate3D(0px,100%,0px));

    }

  }
}

.dc-directive-editable-header{
  padding: $dc-directive-editable-padding;
  padding-left: 2*$dc-directive-editable-padding;
  position: absolute;
  top: 0px;
  will-change: -webkit-transform, border;
  @include transition(border $time $easing, transform $time $easing);
  @include transform(translate3D(0px,-$dc-directive-editable-padding,0px));
  left: -1px;
  right: -1px;
  background: $dc-white;
  z-index: 0;
  border: 1px solid transparent;
  border-bottom-width: 0px;


}

.dc-directive-editable-header-container{
  @include opacity(0);
  @include transition(opacity $time $easing);
  will-change: opacity;

}

.dc-directive-editable-body {
  background: $dc-white;
  padding: $dc-directive-editable-padding;
  position: relative;
  z-index: 1;

}

.dc-directive-editable-footer{
  background: $dc-white;
  padding: $dc-directive-editable-padding;
  padding-top: 0px;
  position: absolute;
  bottom: 0px;
  will-change: -webkit-transform, border;
  @include transition(border $time $easing, transform $time $easing);
  @include transform(translate3D(0px,$dc-directive-editable-padding,0px));
  left: -1px;
  right: -1px;
  background: $dc-white;
  z-index: 0;
  border: 1px solid transparent;
  border-top-width: 0px;
  text-align: right;
}

.dc-directive-editable-link-panel {
  display: none;
  position: absolute;
  //max-width: 362px;
  background: $dc-white;
  border: 1px solid $dc-light-gray;
  z-index: 2;
  padding: 5px 10px;
  font-size: 15px;
  a {
    @include inline-block();
    vertical-align: top;
    text-align: left;
    max-width: 200px;
    @include truncate();
  }



  &.show{
    display: block;
  }
}

.dc-directive-editable-link-panel-controls {
  float: right;
}

.dc-rte-button {
  padding: 10px;
}


.dc-directive-editable-link-modal{
  width: 400px;
}

.dc-directive-editable-link-modal-buttons{
  padding: 10px 0px 0px;
  text-align: right;
}

