@import "imports/dc-imports";

$errorLineHeight: 14px;
$inputPaddingTop: 2*$dc-default-padding - $errorLineHeight;
.dc-text-input-container{
  position: relative;
  padding: $inputPaddingTop  0px $errorLineHeight;
  &.show-placeholder{
    .dc-text-input-placeholder {
      pointer-events: none;
      @include transform(translate3d(0,0,0));
      font-size: inherit;
      color: $dc-med-gray;
    }
  }
  &.error{
    .dc-text-input-x{
      display: block;
    }
  }
}

$inputPadding: 6px;
$inputLineHeight: 22px;
$easing: ease-in-out;
$time: 0.109s;
$inputHeight: $inputLineHeight + 2*$inputPadding + 2px;
$phTop: $inputPaddingTop + $inputPadding + ($inputHeight - 2px - $inputLineHeight)/2 - 2px;
.dc-text-input-placeholder {
  position: absolute;
  top: $phTop;
  left: $inputPadding + 1px;
  @include transform(translate3d(-3px,-$phTop - $inputPaddingTop, 0));
  font-size: 12px;
  color: $dc-med-gray;
  @include transition(transform $time $easing, font-size $time $easing, color $time $easing);
  content: attr(placeholder);
}

.dc-text-input-x{
  position: absolute;
  top: $phTop;
  left: 100%;
  margin-left: 5px;
  font-weight: bold;
  color: $dc-red;
  display: none;
  &:before{
    content: "\00d7";
  }
}


.dc-text-input{
  position: relative;
  line-height: $inputLineHeight;
  padding: $inputPadding;
  outline: none;
  height: $inputHeight;
  border: 1px solid $dc-light-gray;
  @include transition(all $time $easing);
  background-color: $dc-white;
  max-height: $inputHeight;
  white-space: nowrap;
  overflow-x: hidden;

  &.processing{
    @include opacity(0.3);
    pointer-events: none;
  }

  &:hover{
    color: $dc-black;
    border: 1px solid $dc-med-gray;
  }

  &:focus {
    border: 1px solid $dc-med-gray;
  }

  &.error {
    border-color: rgba(209,72,54,0.4);
    &:focus{
      border-color: $dc-red;
    }
  }
}

.dc-text-input-error {
  position: absolute;
  color: $dc-red;
  line-height: $errorLineHeight;
  font-size: 12px;
  right: $inputPadding;
  bottom: 0px;
}

.dc-text-area{
  .dc-text-input-container{
    height: inherit;
  }
  .dc-text-input{
    max-height: none;
    white-space: normal;
    overflow-x: visible;
    height: inherit;
    min-height: 3*$inputHeight;
    font-size: inherit;
    width: 100%;
    font-family: inherit;
    resize: none;
  }
}