@import "imports/dc-imports";

$time: 0.436s;
$easing: ease-in-out;
$bzEasing: cubic-bezier(0.215, 0.610, 0.355, 1.000);
.dc-embed-game{
  position: relative;
  will-change: opacity;
  @include transition(opacity $time/2 $easing);
  @include opacity(0.51);

  .dc-x-out{
    display: none;
    position: absolute;
    top: 5px;
    right: 5px;
  }

  &:hover{
    @include opacity(1.0);
  }

  &.active, &:active {
    @include box-shadow(none);
  }
  &.show{
    cursor: default;
    .dc-x-out{
      display: block;
    }
    .dc-embed-game-content{
      display: block;
      @include animation-name(fadeInAndTranslate);
    }
  }
}

.dc-embed-game-content{
  text-transform: none;
  width: 325px - 2*$dc-default-padding - 2px;
  will-change: opacity, transform, -webkit-transform;
  @include opacity(0);
  @include animation-duration($time);
  @include animation-timing-function($bzEasing);
  @include animation-iteration-count(1);
  @include animation-fill-mode(forwards);
  display: none;

  textarea{
    height: 55px;
    padding: $dc-default-padding/2;
    resize: none;
    white-space: normal;
    overflow-x: visible;
    width: 100%;
    font-family: inherit;
    font-size: 0.8em;
  }

}

.dc-embed-game-content-title{
  font-size: 0.8em;
  padding: $dc-default-padding/2 0px;
}

.dc-embed-game-content-subtitle{
  font-size: 0.8em;
  padding-top: $dc-default-padding/2;
}