@import "imports/dc-imports";

$bzEasing: cubic-bezier(0.215, 0.610, 0.355, 1.000);
$timing: 0s;
.dc-carousel {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.dc-carousel-items-container {
  display: table-row;
  will-change: transform, -webkit-transform;
  @include transform(translate3d(0,0,0));
  @include transition-timing-function(ease-out);
  @include transition-duration($timing);
  @include transition(transform);
}

.dc-carousel-item {
  display: table-cell;
}