@import "imports/dc-imports";
.dc-infinite-scroll-container{
  .dc-loader{
    margin: 0 auto;
  }
}

.dc-infinite-scroll-loader-container{
  height: $dc-tv-loader-size;
  margin: 0px 0px 2*$dc-default-padding;
}