@import "imports/dc-imports";

$tailHeight: 16px;
$ttshadow: 0 0 3px rgba(0,0,0,0.8);
$ttbackground: $dc-white;
$ttz: 1;
$timing: 0.218s;
$easing: ease-in-out;
$easing2: cubic-bezier(0.215, 0.610, 0.355, 1.000);
.dc-directive-tooltip{
  position: fixed;
  z-index: $ttz;
  @include box-shadow($ttshadow);
  @include opacity(0);
  will-change: opacity;
  &.show{
    @include transform(translate3d(0,0,0));
    @include transition(opacity $timing $easing, transform $timing $easing2);
    @include opacity(1);
  }
  &.hide{
    @include transform(translate3d(0,20px,0));
    @include transition(opacity $timing $easing, top 0s $easing $timing, left 0s $easing $timing, transform 0s $easing2 $timing);
    top: -100% !important;
    left: -100% !important;
  }
}

.dc-directive-tooltip-tail-template{
  height: $tailHeight;
  width: $tailHeight;
  background: $ttbackground;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -$tailHeight/2;
  @include transform(rotate(45deg));
}

.dc-directive-tooltip-tail{
  @extend .dc-directive-tooltip-tail-template;
  @include box-shadow($ttshadow);
}

.dc-directive-tooltip-container{
  position: relative;
  background: $ttbackground;
  z-index: $ttz;
}

.dc-directive-tooltip-tail-top{
  @extend .dc-directive-tooltip-tail-template;
  z-index: -1;
}

.dc-directive-tooltip-body{
  background: $ttbackground;
  padding: $dc-default-padding;
  max-width: 220px;
  text-transform: capitalize;
}


