@import "imports/dc-imports";
.dc-game-image {
  margin: 0 auto;
  margin-top: $dc-default-padding;
  width: $dc-med-image-width;
  height: $dc-med-image-height;
  position: relative;

  background-color: $dc-white;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 100%;

  h1 {
    position: absolute;
    top: 50%;
    left: 0px;
    margin-top: -14px;
    z-index: -1;
    color: $dc-white;
  }

  &.isAdmin{
    [dc-directive-embed-game], .dc-full-image-link{
      top: auto;
      bottom: 0px;
    }
  }

  [dc-directive-embed-game]{
    left: 0px;
  }

  .dc-full-image-link{
    right: 0px;
  }

  [dc-directive-embed-game], .dc-full-image-link {
    position: absolute;
    top: $dc-default-padding;
  }

  .dc-embed-game, .dc-full-image-link {
    @include opacity(0);
    &.has-focus {
      @include opacity(1);
    }
  }

  &:hover {
    .dc-embed-game, .dc-full-image-link {
      @include opacity(0.51);
      &.has-focus {
        @include opacity(1);
      }
      &:hover {
        @include opacity(1);
      }
    }

  }


}