@import "imports/dc-imports";


$time: 0.218s;
$easing: ease-in-out;

.dc-directive-editable {
  position: relative;
  z-index: 1;
  padding: 0 $dc-default-padding;
  margin-left: -$dc-default-padding;
  border: 1px solid $dc-white;
  border-top-width: 0px;
  border-bottom-width: 0px;
  @include transition(border $time $easing);

  .dc-x-out, .dc-pen {
    position: absolute;
    top: $dc-default-padding;
    right: $dc-default-padding;
    z-index: 2;
  }

  .dc-pen {
    top: $dc-default-padding/2;
  }

  &:hover {
    border-color: $dc-med-gray;
    .dc-directive-editable-header {
      border-color: $dc-med-gray;
    }
    .dc-directive-editable-footer {
      border-color: $dc-med-gray;
    }
  }

  &.editing {
    border-color: $dc-med-gray;
    .dc-pen{
      display: none;
    }
    .dc-directive-editable-header {
      border-color: $dc-med-gray;
      @include transform(translate3D(0px,-100%,0px));
      .dc-directive-editable-header-container {
        @include opacity(1);
      }
    }
    .dc-directive-editable-footer {
      border-color: $dc-med-gray;
      @include transform(translate3D(0px,100%,0px));

    }

  }
}

.dc-directive-editable-header{
  padding: $dc-default-padding;
  position: absolute;
  top: 0px;
  will-change: -webkit-transform, border;
  @include transition(border $time $easing, transform $time $easing);
  @include transform(translate3D(0px,-$dc-default-padding,0px));
  left: -1px;
  right: -1px;
  background: $dc-white;
  z-index: 0;
  border: 1px solid transparent;
  border-bottom-width: 0px;


}

.dc-directive-editable-header-container{
  @include opacity(0);
  @include transition(opacity $time $easing);
  will-change: opacity;
  min-height: 22px;
}

.dc-rte-button {
  border: 1px solid transparent;
}

.dc-directive-editable-body {
  background: $dc-white;
  padding: $dc-default-padding;
  position: relative;
  z-index: 1;
  min-height: 36px;
  &.hide {
    display: none;
  }
}

.dc-directive-editable-footer{
  background: $dc-white;
  padding: $dc-default-padding;
  position: absolute;
  bottom: 0px;
  will-change: transform, -webkit-transform, border;
  @include transition(border $time $easing, transform $time $easing);
  @include transform(translate3D(0px,$dc-default-padding,0px));
  left: -1px;
  right: -1px;
  background: $dc-white;
  z-index: 0;
  border: 1px solid transparent;
  border-top-width: 0px;
  text-align: right;
  .dc-text-input-error{
    bottom: auto;
    right: auto;
    left: $dc-default-padding;
    top: $dc-default-padding;
  }

}

.dc-directive-editable-link-panel {
  display: none;
  position: absolute;
  //max-width: 362px;
  background: $dc-white;
  border: 1px solid $dc-light-gray;
  z-index: 2;
  padding: $dc-default-padding/2 $dc-default-padding;
  font-size: 15px;
  a {
    @include inline-block();
    vertical-align: top;
    text-align: left;
    max-width: 200px;
    @include truncate();
  }

  &.show{
    display: block;
  }
}

.dc-directive-editable-link-panel-controls {

}

.dc-rte-button {
  padding: $dc-default-padding;
}


.dc-directive-editable-link-modal{
  width: 400px;
}

.dc-directive-editable-link-modal-body{
  div {
    line-height: 1.5em;
    margin-bottom: 0.3em;
  }
  input {
    margin-left: 36px;
    width: 314px;
  }
}

.dc-directive-editable-link-modal-text{
  color: $dc-med-gray;
  font-size: 14px;
}

.dc-directive-editable-link-modal-buttons{
  padding: $dc-default-padding 0px 0px;
  text-align: right;
}

.dc-directive-editable-controls {
  @include inline-block();
}

.dc-directive-editable-body-container {
  position: relative;
}

.dc-directive-editable-body-raw {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: none;
  resize: none;
  &.show {
    display: block;
  }

}

