@import "compass/reset";
@import "imports/dc-imports";

html {
  overflow: auto;
  box-sizing: border-box;
}

html,body{
  font-family: 'Kameron', georgia, serif;
  font-weight: 400;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body{
  background: $dc-light-gray url($dc-background-url) 50% 50% repeat-y;
  min-height: 100vh;
}

*, *:before, *:after {
  box-sizing: inherit;
}

a, .dc-fake-link{
  text-decoration: none;
  border: 0px;
  outline: 0px;
  &:hover{
    text-decoration: underline;
  }
  &:focus {
    *text-decoration: none;
    border: 0px;
    outline: 0px;
  }
}

.dc-fake-link {
  color: $dc-blue;
  cursor: pointer;
}

b {
  font-weight: 700;
}

i {
  font-style: italic;
}

u {
  text-decoration: underline;
}

ol, ul {
  list-style-position: outside;
  padding-left: 1.3em;
}

ol {
  list-style-type: decimal;
}

ul {
  list-style-type: disc;
}

li {
  padding: 4px 0px;
  &:first-child {
    padding-top: 0px;
  }
  &:last-child {
    padding-bottom: 0px;
  }
}

h1 {
  font-size: 1.75em;
  margin-bottom: 0.3em;
}

.dc-container{
  width: 800px;
  margin: 0 auto;
  background-color: $dc-white;
  padding-top: 7px;
  padding-bottom: 50px;
  position: relative;
  min-height: 100vh;
}

.dc-input {
  font-family: inherit;
  font-size: 14px;
  height: 20px;
  padding: 3px;
  outline: 0;
  border-width: 0;
}

.disabled {
  @include opacity(0.3);
  pointer-events: none;
}