<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
        {% block body %}

        {% endblock %}

        {% for src in data.javascripts.relativePaths %}
            <script type="text/javascript" src="{{data.javascripts.basePath}}/{{src}}"></script>
        {% endfor %}
    </body>
</html>