.dc-comment-form {
  width: 480px;
  background-image: url("http://cdn.drinkingcinema.com/Images/commentsContainer.png");
  background-size: 480px auto;
  background-repeat: no-repeat;
  padding: 35px 50px 35px 30px;
  margin-left: -25px;
  height: 367px;
  position: relative;
}

.dc-comment-form-header {
  width: 360px;
}

.dc-comment-form-top {
  margin-left: 5px;
  margin-right: 50px;
}

.dc-comment-form-bottom {
  min-height: 46px;
  position: relative;
}
.dc-comment-form-bottom .dc-text-input-error {
  right: auto;
  bottom: auto;
  left: 2px;
  top: 2px;
}

.dc-comment-form-body {
  margin-left: 5px;
  margin-right: 50px;
  position: absolute;
  left: 35px;
  right: 50px;
  bottom: 40px;
}
.dc-comment-form-body .dc-text-input {
  border-width: 0;
}
.dc-comment-form-body .dc-text-area {
  background: transparent;
  border-width: 0;
}

.dc-comment-form-text-area-container {
  position: relative;
  bottom: 0px;
  border: 1px solid #e1e1e1;
  margin: 6px 0px 0px;
  height: 112px;
  -moz-transition: height 0.218s ease-in-out;
  -o-transition: height 0.218s ease-in-out;
  -webkit-transition: height 0.218s ease-in-out;
  transition: height 0.218s ease-in-out;
  will-change: height;
  background-color: #ffffff;
}
.dc-comment-form-text-area-container .dc-text-input-container {
  padding: 0px;
}
.dc-comment-form-text-area-container .dc-text-input-container.show-placeholder .dc-text-input-placeholder {
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.dc-comment-form-text-area-container .dc-text-input-container .dc-text-input-placeholder {
  will-change: transform, -webkit-transform;
  -moz-transform: translate3d(-3px, -32px, 0);
  -ms-transform: translate3d(-3px, -32px, 0);
  -webkit-transform: translate3d(-3px, -32px, 0);
  transform: translate3d(-3px, -32px, 0);
}
.dc-comment-form-text-area-container .dc-text-input-container textarea {
  vertical-align: top;
}

.dc-comment-form-inputs {
  position: absolute;
  bottom: 46px;
  left: 10px;
  right: 30px;
  display: none;
  will-change: opacity;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -moz-animation-duration: 0.218s;
  -webkit-animation-duration: 0.218s;
  animation-duration: 0.218s;
  -moz-animation-delay: 0.218s;
  -webkit-animation-delay: 0.218s;
  animation-delay: 0.218s;
  -moz-animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -moz-animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -moz-animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.dc-comment-form-inputs .dc-text-input {
  border-bottom-width: 1px;
}

.dc-comment-form-message {
  margin-left: 10px;
  margin-right: 50px;
  will-change: opacity;
  -moz-transition: opacity 0.218s ease-in-out;
  -o-transition: opacity 0.218s ease-in-out;
  -webkit-transition: opacity 0.218s ease-in-out;
  transition: opacity 0.218s ease-in-out;
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
.dc-comment-form-message h2 {
  font-size: 1.3em;
  padding: 5px 0;
}
.dc-comment-form-message p {
  line-height: 1.3em;
}

.show-inputs .dc-comment-form-text-area-container {
  height: 245px;
}
.show-inputs .dc-comment-form-inputs {
  display: block;
  -moz-animation-name: fadeIn;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}
.show-inputs .dc-comment-form-message {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}

.dc-comment-form-submit {
  position: absolute;
  right: 0px;
  top: 6px;
}

.dc-modal .dc-comment-form-header {
  margin-left: 25px;
}
.dc-modal .dc-comment-form {
  margin-left: 0px;
}
