.dc-social-media-header {
  position: relative;
  height: 25px;
}
.dc-social-media-header .dc-social-media-buttons {
  position: absolute;
  top: 0px;
  right: 0px;
}

.dc-logo-main, .dc-logo-long {
  display: block;
  position: relative;
  background-position: 0px 0px;
}
.dc-logo-main h1, .dc-logo-long h1 {
  position: absolute;
  top: 50%;
  margin-top: -8px;
  width: 100%;
  text-align: center;
  color: #ffffff;
  z-index: -1;
}

.dc-logo-main {
  height: 300px;
  width: 800px;
  margin-left: -25px;
  background-image: url("http://cdn.drinkingcinema.com/Images/DC_header.jpg");
}
.dc-logo-main:hover, .dc-logo-main:active {
  background-position: 0px -300px;
}

.dc-logo-long {
  height: 100px;
  width: 800px;
  margin: 10px 0px 25px;
  margin-left: -25px;
  background-image: url("http://cdn.drinkingcinema.com/Images/DC_header2.jpg");
}
.dc-logo-long:hover, .dc-logo-long:active {
  background-position: 0px -100px;
}

.dc-search-bar {
  position: relative;
  width: 750px;
  margin: 0 auto;
}

.dc-search-input {
  position: absolute;
  right: 0px;
  bottom: 24px;
}
.dc-search-input .dc-input {
  font-family: inherit;
  position: absolute;
  right: 30px;
  top: 50%;
  margin-top: -10px;
  width: 123px;
}

.dc-search-input-button {
  display: block;
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -8px;
  cursor: pointer;
}

.dc-share-input {
  position: relative;
  top: 13px;
}
.dc-share-input div {
  position: relative;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
.dc-share-input .dc-share-face {
  position: relative;
  top: -5px;
}
.dc-share-input .dc-input {
  position: absolute;
  top: 50%;
  margin-top: -10px;
  right: 10px;
  width: 225px;
  text-align: center;
}
