.dc-social-media-header {
  position: relative;
  height: 25px;
}
.dc-social-media-header .dc-social-media-buttons {
  position: absolute;
  top: 0px;
  right: 0px;
}

.dc-logo-main, .dc-logo-long {
  display: block;
  position: relative;
  background-position: 0px 0px;
}
.dc-logo-main h1, .dc-logo-long h1 {
  position: absolute;
  top: 50%;
  margin-top: -8px;
  width: 100%;
  text-align: center;
  color: #ffffff;
  z-index: -1;
}

.dc-logo-main {
  height: 300px;
  width: 800px;
  background-image: url("http://cdn.drinkingcinema.com/Images/DC_header.jpg");
}
.dc-logo-main:hover, .dc-logo-main:active {
  background-position: 0px -300px;
}

.dc-logo-long {
  height: 100px;
  width: 800px;
  background-image: url("http://cdn.drinkingcinema.com/Images/DC_header2.jpg");
}
.dc-logo-long:hover, .dc-logo-long:active {
  background-position: 0px -100px;
}
