.dc-buttons, .dc-search-left-flare, .dc-search-item-image:before, .dc-search-left-flare-small, .dc-search-item-chug:before, .dc-search-item-comments:before, .dc-search-right-flare, .dc-search-item-image:after, .dc-search-right-flare-small, .dc-search-item-chug:after, .dc-search-item-comments:after, .dc-chug-to-this, .dc-search-item-chug, .dc-num-comments, .dc-search-item-comments {
  background-image: url("http://cdn.drinkingcinema.com/Images/buttons.jpg");
}

.dc-search-left-flare, .dc-search-item-image:before {
  height: 145px;
  width: 60px;
  background-position: -8px -165px;
}

.dc-search-left-flare-small, .dc-search-item-chug:before, .dc-search-item-comments:before {
  height: 60px;
  width: 35px;
  background-position: -188px -168px;
}

.dc-search-right-flare, .dc-search-item-image:after {
  height: 145px;
  width: 60px;
  background-position: -85px -165px;
}

.dc-search-right-flare-small, .dc-search-item-chug:after, .dc-search-item-comments:after {
  height: 60px;
  width: 35px;
  background-position: -235px -173px;
}

.dc-chug-to-this, .dc-search-item-chug {
  width: 224px;
  height: 48px;
  background-position: -300px -159px;
}

.dc-num-comments, .dc-search-item-comments {
  width: 270px;
  height: 40px;
  background-position: -297px -213px;
}

.dc-search-item {
  position: relative;
  width: 750px;
  padding: 10px 0px;
}
.dc-search-item [dc-directive-embed-game] {
  position: absolute;
  top: 10px;
  left: 76px;
}

.dc-search-item-image {
  display: block;
  position: relative;
  width: 618px;
  height: 145px;
  background-color: #ffffff;
  background-size: 100%;
  margin: 0 auto;
  will-change: height;
  -moz-transition: height 0.5s ease-in-out;
  -o-transition: height 0.5s ease-in-out;
  -webkit-transition: height 0.5s ease-in-out;
  transition: height 0.5s ease-in-out;
}
.dc-search-item-image.expanded {
  height: 800px;
}
.dc-search-item-image h2 {
  position: absolute;
  top: 50%;
  left: 0px;
  margin-top: -8px;
  color: #ffffff;
  z-index: -1;
}
.dc-search-item-image:before {
  content: ' ';
  position: absolute;
  left: -60px;
  top: 0px;
}
.dc-search-item-image:after {
  content: ' ';
  position: absolute;
  top: 0px;
  left: 100%;
}

.dc-search-item-info {
  width: 618px;
  margin: 0 auto;
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
}
.dc-search-item-info h3 {
  position: absolute;
  top: 50%;
  left: 0px;
  margin-top: -8px;
  color: #ffffff;
  z-index: -1;
}

.dc-search-item-chug {
  position: relative;
  display: block;
}
.dc-search-item-chug:before {
  content: ' ';
  position: absolute;
  top: -6px;
  left: -35px;
  will-change: opacity;
}
.dc-search-item-chug:after {
  content: ' ';
  position: absolute;
  top: -6px;
  left: 100%;
}

.dc-search-item-comments {
  position: absolute;
  right: 0px;
  top: 24px;
  display: block;
}
.dc-search-item-comments:before {
  content: ' ';
  position: absolute;
  top: -10px;
  left: -35px;
}
.dc-search-item-comments:after {
  content: ' ';
  position: absolute;
  top: -10px;
  left: 100%;
}

.dc-search-item-comments-num {
  position: absolute;
  width: 35px;
  font-weight: 700;
  text-align: center;
  top: 13px;
  right: 6px;
  color: initial;
  font-size: 0.8em;
  line-height: 1.2em;
}

.dc-search-item-image:before, .dc-search-item-image:after, .dc-search-item-chug:before, .dc-search-item-chug:after, .dc-search-item-comments:before, .dc-search-item-comments:after {
  will-change: opacity;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -moz-transition: opacity 0.218s ease-in-out;
  -o-transition: opacity 0.218s ease-in-out;
  -webkit-transition: opacity 0.218s ease-in-out;
  transition: opacity 0.218s ease-in-out;
}
.dc-search-item-image:hover:before, .dc-search-item-image:hover:after, .dc-search-item-chug:hover:before, .dc-search-item-chug:hover:after, .dc-search-item-comments:hover:before, .dc-search-item-comments:hover:after {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
