.dc-search-nav-bar {
  display: inline-block;
  *display: inline;
  zoom: 1;
  padding-top: 15px;
}

.dc-search-nav-bar-button {
  position: relative;
  top: 5px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  margin: 0px 5px;
}
.dc-search-nav-bar-button span {
  display: block;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0px;
  margin-top: -8px;
  z-index: -1;
  color: #ffffff;
}

.dc-search-button, .dc-search-button-a-z, .dc-search-button-z-a, .dc-search-button-newest, .dc-search-button-oldest {
  background-image: url("http://cdn.drinkingcinema.com/Images/buttons.jpg");
  display: inline-block;
  *display: inline;
  zoom: 1;
}

.dc-search-button-a-z {
  background-position: -18px -449px;
  width: 53px;
  height: 36px;
}
.dc-search-button-a-z:hover, .dc-search-button-a-z.selected {
  background-position: -18px -95px;
}

.dc-search-button-z-a {
  background-position: -95px -449px;
  width: 57px;
  height: 36px;
}
.dc-search-button-z-a:hover, .dc-search-button-z-a.selected {
  background-position: -95px -95px;
}

.dc-search-button-newest {
  background-position: -179px -447px;
  width: 115px;
  height: 36px;
}
.dc-search-button-newest:hover, .dc-search-button-newest.selected {
  background-position: -179px -93px;
}

.dc-search-button-oldest {
  background-position: -310px -447px;
  width: 115px;
  height: 36px;
}
.dc-search-button-oldest:hover, .dc-search-button-oldest.selected {
  background-position: -310px -93px;
}
