@import "imports/dc-imports";

$formWidth: 480px;
$formOffset: 25px;
.dc-comment-form{
  width: $formWidth;
  background-image: url($dc-comment-container-url);
  background-size: $formWidth auto;
  background-repeat: no-repeat;
  padding: 35px 50px 35px 30px;
  margin-left: -$formOffset;
  height: 367px;
  position: relative;
}

.dc-comment-form-header{
  width: 360px;
}

.dc-comment-form-top{
  margin-left:5px;
  margin-right:50px;
}

.dc-comment-form-bottom{
  min-height: 46px;
  position: relative;
  .dc-text-input-error{
    right: auto;
    bottom: auto;
    left: 2px;
    top: 2px;
  }
}
$dcCommentFormHeight: 245px;
.dc-comment-form-body{
  margin-left:5px;
  margin-right:50px;
  position: absolute;
  left:35px;
  right:50px;
  bottom: 40px;
  //height: $dcCommentFormHeight;
  .dc-text-input{
    border-width: 0;
  }

  .dc-text-area{
    background:transparent;
    border-width: 0;
  }
}

$errorLineHeight: 14px;
$inputPaddingTop: 2*$dc-default-padding - $errorLineHeight;
$time: 0.218s;
$easing: ease-in-out;
.dc-comment-form-text-area-container{
  position: relative;
  bottom: 0px;
  border: 1px solid $dc-light-gray;
  margin: $inputPaddingTop  0px 0px;
  height: 112px;
  @include transition(height $time $easing);
  will-change: height;
  background-color: $dc-white;
  .dc-text-input-container{
    padding: 0px;
    &.show-placeholder{
      .dc-text-input-placeholder{
        @include transform(translate3d(0,0, 0));
      }
    }

    .dc-text-input-placeholder {
      will-change: transform, -webkit-transform;
      @include transform(translate3d(-3px,-32px, 0));
    }

    textarea{
      vertical-align: top;
    }
  }

}

.dc-comment-form-inputs{
  position: absolute;
  bottom: 46px;
  left: $dc-default-padding;
  right: $dc-default-padding*3;
  display: none;
  will-change: opacity;
  @include opacity(0);
  @include animation-duration($time);
  @include animation-delay($time);
  @include animation-timing-function($easing);
  @include animation-iteration-count(1);
  @include animation-fill-mode(forwards);
  .dc-text-input {
    border-bottom-width: 1px;
  }

}

.dc-comment-form-message{
  margin-left: $dc-default-padding;
  margin-right: 50px;
  will-change: opacity;
  @include transition(opacity $time $easing);
  @include opacity(1);
}

.show-inputs{
  .dc-comment-form-text-area-container{
    height: $dcCommentFormHeight;
  }
  .dc-comment-form-inputs{
    display: block;
    @include animation-name(fadeIn);
  }
  .dc-comment-form-message{
    @include opacity(0);
  }

}

.dc-comment-form-submit{
  position: absolute;
  right: 0px;
  top: 6px;
}

.dc-modal {
  .dc-comment-form-header{
    margin-left: $formOffset;
  }

  .dc-comment-form {
    margin-left: 0px;
  }
}


