.dc-button, .dc-button-primary, .dc-button-secondary, .dc-button-icon {
  background: #ffffff;
  outline: 0;
  font-family: inherit;
  padding: 5px 10px;
  cursor: pointer;
  text-transform: uppercase;
  border: 1px solid #e1e1e1;
  -moz-transition: all 0.109s ease-in-out;
  -o-transition: all 0.109s ease-in-out;
  -webkit-transition: all 0.109s ease-in-out;
  transition: all 0.109s ease-in-out;
  font-weight: 700;
  color: #333333;
  text-decoration: none;
}
.dc-button:hover, .dc-button-primary:hover, .dc-button-secondary:hover, .dc-button-icon:hover {
  color: #000000;
  border: 1px solid #888888;
  text-decoration: none;
}
.dc-button.active, .active.dc-button-primary, .active.dc-button-secondary, .active.dc-button-icon, .dc-button:active, .dc-button-primary:active, .dc-button-secondary:active, .dc-button-icon:active {
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.8);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.8);
}
.dc-button.processing, .processing.dc-button-primary, .processing.dc-button-secondary, .processing.dc-button-icon {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  opacity: 0.3;
  pointer-events: none;
}

.dc-button-secondary {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  color: #333333;
}
.dc-button-secondary:hover {
  color: #357AE8;
  border: none;
}
.dc-button-secondary:hover, .dc-button-secondary:active, .dc-button-secondary.active {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.dc-x-out.processing {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  opacity: 0.3;
  pointer-events: none;
}

.dc-button-icon {
  width: 60px;
  height: 60px;
}
