{% extends _layout %}

{% block body %}
    <div class="dc-page">
        {% embed 'controllers/header.html' %}
            {% block subheader %}
                {% include '_subtemplates/dc-additional-pages-subheader.html' %}
            {% endblock %}
        {% endembed %}
        {% include 'controllers/page.html' %}
        {% include 'controllers/comments.html' %}
    </div>
{% endblock %}
