{% extends _layout %}

{% block body %}
    <div class="dc-upload">
        {% embed 'controllers/header.html' %}
            {% block subheader %}
                {% include '_subtemplates/dc-share-input.html' %}
            {% endblock %}
        {% endembed %}
        {% include 'controllers/upload.html' %}
    </div>
{% endblock %}