@import "imports/dc-imports";

$time: 0.218s;
$easing: ease-in-out;
.animate {
  @include opacity(0);
  @include animation-duration($time);
  @include animation-timing-function($easing);
  @include animation-iteration-count(1);
  @include animation-fill-mode(forwards);
}

.dc-autocomplete-search-modal{
  width: 100%;
  background: $dc-white;
  z-index: 3;
  position: relative;
  top: 0px;
  left: 0px;
  will-change: opacity;
  min-height: 100vh;
  padding: $dc-default-padding;
  @extend .animate;
  @include opacity(0);
  display: none;

  &.show{
    display: block;
    @include animation-name(fadeIn);
  }

  .dc-text-input-container{
    padding-bottom: 0px;
    .dc-text-input {
      border-color: transparent !important;
      padding-left: 33px;
    }
    .dc-text-input-placeholder {
      left: 34px;
      display: none;
    }

    &.show-placeholder {
      .dc-text-input-placeholder {
        display: block;
      }
    }
  }


}

.dc-autocomplete-search{
  position: relative;
  margin-top: 20px;
  .dc-mag-glass{
    position: absolute;
    top: 14px;
    left: 6px;
    z-index: 1;
  }

  .dc-flexible-hr-top {
    margin-top: -5px;
  }

}

.dc-close-autocomplete-modal {
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 1;
  // 14 by 20
  padding: 5px 8px;
}






