@import "imports/dc-imports";

.dc-search-nav-bar{
  display: table;
  width: 100%;
  padding-top: 15px;
}
.dc-search-nav-bar-link{
  display: table-cell;
  vertical-align: top;
  text-align: center;
}

.dc-search-nav-bar-button{
  position: relative;
  top: 5px;
  @include inline-block();
  margin: 0px 5px;
  span{
    display: block;
    width: 100%;
    @include hiddenSpan();
  }
}

$dc-search-nav-bar-height: 27px;
$dc-search-nav-bar-height-desktop: 36px;
$ratio: $dc-search-nav-bar-height/$dc-search-nav-bar-height-desktop;

.dc-search-button {
  background-image: url($dc-buttons-url);
  background-size: $dc-buttons-sprite-width*$ratio $dc-buttons-sprite-height*$ratio;
  @include inline-block();
  @include crisp-edges();
}

.dc-search-button-a-z{
  @extend .dc-search-button;
  background-position: -16px*$ratio -449px*$ratio;
  width: 53px*$ratio;
  height: 36px*$ratio;
  &:hover, &.selected{
    background-position: -16px*$ratio -95px*$ratio;
  }
}

.dc-search-button-z-a{
  @extend .dc-search-button;
  background-position: -95px*$ratio -449px*$ratio;
  width: 57px*$ratio;
  height: 36px*$ratio;
  &:hover, &.selected{
    background-position: -95px*$ratio -95px*$ratio;
  }
}

.dc-search-button-newest{
  @extend .dc-search-button;
  background-position: -174px*$ratio -447px*$ratio;
  width: 115px*$ratio;
  height: 36px*$ratio;
  &:hover, &.selected{
    background-position: -174px*$ratio -92px*$ratio;
  }
}

.dc-search-button-oldest{
  @extend .dc-search-button;
  background-position: -306px*$ratio -447px*$ratio;
  width: 115px*$ratio;
  height: 36px*$ratio;
  &:hover, &.selected{
    background-position: -306px*$ratio -92px*$ratio;
  }
}